<h1>The Beers</h1>

<div>
    <ul>
        <li>
            {{#each beersResponse }}
            {{>beerpartial this}}
            {{/each}}
        </li>

    </ul>
</div>

{{!-- <h2>{{this.name}}</h2>
<h4>{{this.description}}</h4>
<span> <img src="{{this.image_url}}" alt="A pretty beer"></span>
<p>{{this.tagline}}</p> --}}