<h1>Random Beer</h1>
<div>
    <ul>
        <li>
            
            
            {{>beerpartial}}
            
            <p>{{randomBeer.food_pairing}}</p>
            <p>{{randomBeer.brewers_tips}}</p>

        </li>
    </ul>
</div>